---
layout: main
permalink: /categories/
---
{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category_words = site_categories | split:',' | sort %}


<!--  lists all posts corresponding to specific tag...-->
  {% for post in site.categories[page.title] %}{% if post.title != null %}
    <div class="posts-list">
        <span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
        <small><span>| {{ post.date | date_to_string }}</span></small>
    </div>
  {% endfor %}
</section>
